<div class="nature-area" id="nature-area-{{ section.id }}">
  <section class="" style="background-color: #F3FAFE;">
    <div class="text-center container" style="padding:80px 0;">
      <h1 style="font-size:3em;">{{section.settings.section_title}}</h1>
      <hr>
      <p class="lead">{{section.settings.section_text}}</p>

    </div>

  </section>
</div>



{% schema %}
  {
    "name": "Nature Main",
    "settings": [
        {
          "type": "header",
          "content": "Section Content"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "section_text",
          "label": "Section Text"
        }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
