<div class="two-image-banner pb-5">
  <div class="container two-image-space">
    <div class="row mobile-row">
      {% for block in section.blocks %}
      <div class="col-md-6 col-12">
        <div class="card">
          <a href="{{ block.settings.banner_img_url }}"><span><img src="{% if block.settings.banner_img %}{{ block.settings.banner_img | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/900x680{% endif %}" alt=""></span></a>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Two Image Banner",
    "settings": [
		{
            "type": "header",
            "content": "Section Margin"
        },
        {
            "type": "text",
            "id": "section_margin_top",
            "label": "Section Margin Top",
            "default": "0" ,
            "info": "Defined in pixels. Do not add the 'px' unit."
        },
        {
            "type": "text",
            "id": "section_margin_bottom",
            "label": "Section Margin Bottom",
            "default": "0" ,
            "info": "Defined in pixels. Do not add the 'px' unit."
        },
		{
            "type": "header",
            "content": "Banner Wraper Margin"
        },
        {
            "type": "text",
            "id": "section_margin_top_2",
            "label": "Section Margin Top",
            "default": "-75" ,
            "info": "Defined in pixels. Do not add the 'px' unit."
        }
	],
	"blocks":[
      {
         "type": "banner",
         "name": "Banner",
         "settings": [
			{
				"type": "image_picker",
				"id": "banner_img",
				"label": "Image",
				"info": "Recommended Size: 900 x 680px"
		  },
			{
				"type": "url",
				"id": "banner_img_url",
				"label": "URL"
		    }
        ]
       }
    ],
    "presets":[
        {
            "name": "Two Image Banner",
            "category": "2. banner"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
